@model IEnumerable<Pokemon.Models.Card>
<div class="rn-banner-area">
	<div>

		<img src="~/Assets/test1.jpg" style=" width: 100%; background-size: cover !important; position: relative;">

	</div>
</div>
<div>
	<h2 style="text-align:center">Congratulations!</h2>
	<h4 style="text-align:center">You won the below cards</h4>
</div>

<div class="box-table table-responsive">
	<table id="myTable1" class="table upcoming-projects">
		<thead style="color:whitesmoke">
			<tr>
				<th>Pokemon</th>
				<th>Rarity</th>
				<th>Serial Number</th>
				<th>Attack</th>
				<th>Defence</th>
			</tr>
		</thead>
		<tbody id="myTable" class="ranking">
			@foreach (var pokemon in Model)
			{
				<tr class="color-light">
					<td>
						<div class="product-wrapper d-flex align-items-center">
							<a href=@Url.Action("CardDetails","CardDatabase",new { id=pokemon.CardId}) class="thumbnail">
								@if (pokemon.ImageID == null)
								{
									<i>?</i>
								}
								else
								{
									<img src=@pokemon.Image.Url alt="NFT_portfolio">
								}
							</a>
							<span>@pokemon.Name</span>
						</div>
					</td>
					<td>
						<span>@pokemon.Rarity</span>
					</td>
					<td>
						<span>@pokemon.SerialNumber</span>
					</td>
					<td>
						<span>@pokemon.Attack</span>
					</td>
					<td>
						<span>@pokemon.Defence</span>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<div style="text-align:center;">
    <a style="font-size:20px;" class="btn btn-primary btn-lg" id="myBtn" href="https://localhost:44324/mycollection">Back To My Collection.</a>
</div>





