@model IEnumerable<Pokemon.Models.Card>
@{
	ViewBag.Title = "Index";
}

<div class="mainmenu-wrapper" style="width:90%;">
	<nav id="sideNav" class="mainmenu-nav d-none d-xl-block">
		<ul class="mainmenu">
			<li>
				<a href=@Url.Action("Index","AppUsers")>User Database</a>
			</li>
			<li>
				<a href=@Url.Action("Index","CardManage")>Card Database</a>
			</li>
			<li>
				<a href=@Url.Action("Index","CardDatabase")>Site statistics</a>
			</li>
		</ul>
	</nav>
</div>

<form action="/CardManage/Index" method="get">
	<div class="row">
		<div class="col">
			<input id="searchname" type="text" name="name" value="" placeholder="Search by Name" style="background-color: white; border-radius: 3px; height: 40px "/>
		</div>
		<div class="col">
			<input id="searchSerialNumber" type="text" name="serialNumber" value="" placeholder="Search by Serial Number" style="background-color: white; height: 40px"/>
		</div>
		<div class="col">
			<input id="searchAttack" type="text" name="attack" value="" placeholder="Search by Attack" style="background-color: white; border-radius: 3px; height: 40px "/>
		</div>
		<div class="col">
			<input id="searchDefence" type="text" name="defence" value="" placeholder="Search by Defence" style="background-color: white; border-radius: 3px; height: 40px"/>
		</div>
		<div class="col">
			<select name="rarity">
				<option value="Common">Common</option>
				<option value="Rare">Rare</option>
				<option value="Epic">Epic</option>
				<option value="Legendary">Legendary</option>
			</select><br />
		</div>
		<div class="col">
			<button  class="btn btn-primary" type="submit" >Search</button>
		</div>
		<div class="col">
			<button id="reset" class="btn btn-danger" type="reset" value="Clear">Clear</button>
		</div>
	</div>
</form>
<button type="button" class="btn btn-warning">
	@Html.ActionLink("Create New", "Create")
</button>
	<table class="table table-dark">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Single().CardId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Single().Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Single().SerialNumber)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Single().Attack)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Single().Defence)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Single().Rarity)
			</th>
			<th>
				Actions
			</th>
			@foreach (var item in Model)
			{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.CardId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SerialNumber)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Attack)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Defence)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Rarity)
				</td>
				<td>
					<button type="button" class="btn btn-success">@Html.ActionLink("Edit", "Edit", new { id = item.CardId })</button>
					<button type="button" class="btn btn-info">@Html.ActionLink("Details", "Details", new { id = item.CardId })</button>
					<button type="button" class="btn btn-danger">@Html.ActionLink("Delete", "Delete", new { id = item.CardId })</button>
				</td>
			</tr>
		}
			</tr>
		</table>
