@model IEnumerable<Pokemon.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}
<div class="mainmenu-wrapper" style="width:90%;">
	<nav id="sideNav" class="mainmenu-nav d-none d-xl-block">
		<ul class="mainmenu">
			<li>
				<a href=@Url.Action("Index","AppUsers")>User Database</a>
			</li>
			<li>
				<a href=@Url.Action("Index","CardManage")>Card Database</a>
			</li>
			<li>
				<a href=@Url.Action("Index","SiteStatistics")>Site statistics</a>
			</li>
		</ul>
	</nav>
</div>
<form action="/AppUsers/Index" method="get">
	<div class="row">
		<div class="col">
			<input id="searchFirstName" type="text" name="firstName" value="" placeholder="Search by First Name" style="background-color: white; border-radius: 3px; height: 40px "/>
		</div>
		<div class="col">
			<input id="searchLastName" type="text" name="lastName" value="" placeholder="Search by Last Name" style="background-color: white; border-radius: 3px; height: 40px "/>
		</div>
		<div class="col">
			<input id="searchEmail" type="text" name="email" value="" placeholder="Search by E-mail" style="background-color: white; border-radius: 3px; height: 40px "/>
		</div>
		<div class="col">
			<input id="searchBalance" type="text" name="balance" value="" placeholder="Search by Balance" style="background-color: white; border-radius: 3px; height: 40px "/>
		</div>
		<div class="col">
			<button class="btn btn-primary" type="submit">Search</button>
		</div>
		<div class="col">
			<button id="reset" class="btn btn-danger" type="reset" value="Clear">Clear</button>
		</div>
		</div>
</form>
<button type="button" class="btn btn-warning">
	@Html.ActionLink("Create New", "Create")
</button>
	<table class="table table-dark">
		<tr>
			<th>
				@Html.ActionLink("FirtName", "Index", "AppUsers", new { sortOrder = string.IsNullOrEmpty(ViewBag.sortOrder) ? "YDSC" : ViewBag.sortOrder == "YDSC" ? "YASC" : "YDSC" }, null)
				@*@Html.DisplayNameFor(model => model.Single().FirstName)*@
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Single().LastName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Single().Email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Single().NickName)
			</th>
			@*<th>
					@Html.DisplayNameFor(model => model.Single().BirthDate)
				</th>*@
			<th>
				@Html.DisplayNameFor(model => model.Single().Balance)
			</th>
			<th>
				Actions
			</th>
		</tr>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.FirstName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LastName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.NickName)
				</td>
				@*<td>
						@Html.DisplayFor(modelItem => item.BirthDate)
					</td>*@
				<td>
					@Html.DisplayFor(modelItem => item.Balance)
				</td>
				<td>
					<button type="button" class="btn btn-success">@Html.ActionLink("Edit", "Edit", new { id = item.Id })</button>
					<button type="button" class="btn btn-info">@Html.ActionLink("Details", "Details", new { id = item.Id })</button>
					<button type="button" class="btn btn-danger">@Html.ActionLink("Delete", "Delete", new { id = item.Id })</button>
				</td>
			</tr>
		}
	</table>
