@model IEnumerable<Pokemon.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}
<div class="mainmenu-wrapper" style="width:90%;">
	<nav id="sideNav" class="mainmenu-nav d-none d-xl-block">
		<ul class="mainmenu">
			<li>
				<a href=@Url.Action("Index","Home")>User Database</a>
			</li>
			<li>
				<a href=@Url.Action("Index","MyCollection")>Card Database</a>
			</li>
			<li>
				<a href=@Url.Action("Index","CardDatabase")>Site statistics</a>
			</li>
		</ul>
	</nav>
</div>
	<h2>Index</h2>
	<p>
		@Html.ActionLink("Create New", "Create")
	</p>
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Single().FirstName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Single().LastName)
			</th>
		</tr>
		@foreach (var item in Model)
		{ 
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.FirstName)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.LastName)
		</td>
	</tr>
		}
	</table>