@model  IEnumerable<Pokemon.Models.Card>
@using Microsoft.AspNet.Identity


<div class="rn-banner-area">
    <div>

        <img src="~/Assets/test1.jpg" style=" width: 100%; background-size: cover !important; position: relative;">

    </div>
</div>

<div class="rn-author-area   mt_dec--120">
    <div class="container">
        <div class="row padding-tb-50 align-items-center d-flex">
            <div class="col-lg-12">
                <div class="author-wrapper">
                    <div class="author-inner">
                        <div class="user-thumbnail">
                            <img src="~/Assets/Images/001.png" alt=""> @*UserImaage*@
                        </div>
                        <div class="rn-author-info-content">
                            <h4 class="title">Onoma</h4>@*Onoma*@
                            <div class="author-button-area">

                                <a href="@Url.Action("Index","EditProfile" , new {id=User.Identity.GetUserId() })" class="btn at-follw follow-button edit-btn">Edit Profile <i data-feather="edit" style="padding-bottom:3px; padding-left:2px;"></i></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="rn-authore-profile-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="tab-wrapper-one">
                    <nav class="tab-button-one">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link" id="nav-sale-tab" data-bs-toggle="tab" data-bs-target="#nav-sale" type="button" role="tab" aria-controls="nav-home" aria-selected="true">On Sale</button>
                            <button class="nav-link active" id="nav-collection-tab" data-bs-toggle="tab" data-bs-target="#nav-collection" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Collection</button>
                            @*<button class="nav-link" id="nav-liked-tab" data-bs-toggle="tab" data-bs-target="#nav-liked" type="button" role="tab" aria-controls="nav-liked" aria-selected="false">Liked</button>*@
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <div class="tab-content rn-bid-content" id="nav-tabContent">

            <div class="tab-pane row g-5 d-flex fade" id="nav-sale" role="tabpanel" aria-labelledby="nav-home-tab">
                <!-- start single product -->
                @foreach (var card in Model)
                {
                    if (card.Market == true)
                    {
                        <div class="col-5 col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="product-style-one no-overlay with-placeBid">

                                <div class="card-thumbnail">
                                    <a href=@Url.Action("CardDetails","CardDatabase",new { id=card.CardId})>
                                        <img src="@card.Image.Url" alt="NFT_portfolio">
                                    </a>
                                </div>

                                <div style="display: flex; align-items: center; padding-top: 20px; height:12px; margin-bottom:0px; justify-content: space-between;">
                                    <h6 style="margin-bottom:5px;">@card.Name</h6>@*pokemon name*@

                                    <h6 style="margin-bottom:5px;">#@card.SerialNumber</h6>@*serial*@
                                </div>

                                <div>
                                    <ul class="list-group list-group-horizontal" style="list-style-type:none;">
                                        @foreach (var type1 in card.PokemonTypes)
                                        {
                                            switch (type1.Kind)
                                            {
                                                case "Grass":
                                                    <li style=" border-radius:3px; background-color:lawngreen; font-size:15px; color:white; height:25px; width:70px; text-align:center; margin-left:5px;">@type1.Kind</li>
; break;
                                                case "Water":
                                                    <li style=" border-radius: 3px; background-color: blue; font-size: 15px; color: white; height: 25px; width: 70px; text-align: center; margin-left: 5px;">@type1.Kind</li>
; break;
                                                case "Fire":
                                                    <li style=" border-radius: 3px; background-color: red; font-size: 15px; color: white; height: 25px; width: 70px; text-align: center; margin-left: 5px;">@type1.Kind</li>
 ; break;
                                                case "Flying":
                                                    <li style=" border-radius: 3px; background-color: grey; font-size: 15px; color: white; height: 25px; width: 70px; text-align: center; margin-left: 5px;">@type1.Kind</li>
 ; break;
                                                case "Bug":
                                                    <li style=" border-radius: 3px; background-color:forestgreen; font-size: 15px; color: white; height: 25px; width: 70px; text-align: center; margin-left: 5px;">@type1.Kind</li>
 ; break;
                                                case "Normal":
                                                    <li style=" border-radius: 3px; background-color: white; font-size: 15px; color: black; height: 25px; width: 70px; text-align: center; margin-left: 5px;">@type1.Kind</li>
 ; break;
                                                case "Poison":
                                                    <li style=" border-radius: 3px; background-color: purple; font-size: 15px; color: white; height: 25px; width: 70px; text-align: center; margin-left: 5px;">@type1.Kind</li>
 ; break;
                                                case "Electric":
                                                    <li style=" border-radius: 3px; background-color: yellow; font-size: 15px; color: black; height: 25px; width: 70px; text-align: center; margin-left: 5px;">@type1.Kind</li>
; break;
                                                default: break;
                                            }
                                        }
                                    </ul>
                                </div>

                                <div style="display: flex; align-items: center; justify-content: space-between;">

                                    <div class="last-bid" style="font-size: 15px;">@card.Price$</div> @*Price*@
                                    <div class="last-bid" style="font-size: 15px;">@card.Rarity</div>@*rarity*@

                                    <button type="button" class="btn btn-danger" style="padding:5px;" data-bs-toggle="modal" data-bs-target="#reportModal">
                                        Cansel Sale
                                    </button>
                                </div>

                            </div>
                        </div>
                    }

                }

                <!-- end single product -->
            </div>

            <div class="tab-pane row g-5 d-flex fade show active" id="nav-collection" role="tabpanel" aria-labelledby="nav-profile-tab">
                <!-- start single product -->
                @foreach (var card in Model)
                {

                    <div class="col-5 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-style-one no-overlay with-placeBid">

                            <div class="card-thumbnail">
                                <a href=@Url.Action("CardDetails","CardDatabase",new { id=card.CardId})>
                                    <img src="@card.Image.Url" alt="NFT_portfolio">
                                </a>
                            </div>

                            <div style="display: flex; align-items: center; padding-top: 20px; height:12px; margin-bottom:0px; justify-content: space-between;">
                                <h6 style="margin-bottom:5px;">@card.Name</h6>@*pokemon name*@

                                <h6 style="margin-bottom:5px;">#@card.SerialNumber</h6>@*serial*@
                            </div>

                            <div>
                                <ul class="list-group list-group-horizontal" style="list-style-type:none;">
                                    @foreach (var type1 in card.PokemonTypes)
                                    {
                                        switch (type1.Kind)
                                        {
                                            case "Grass":
                                                <li style=" border-radius:3px; background-color:lawngreen; font-size:15px; color:white; height:25px; width:70px; text-align:center; margin-left:5px;">@type1.Kind</li>
                                                ; break;
                                            case "Water":
                                                <li style=" border-radius: 3px; background-color: blue; font-size: 15px; color: white; height: 25px; width: 70px; text-align: center; margin-left: 5px;">@type1.Kind</li>
                                                ; break;
                                            case "Fire":
                                                <li style=" border-radius: 3px; background-color: red; font-size: 15px; color: white; height: 25px; width: 70px; text-align: center; margin-left: 5px;">@type1.Kind</li>
                                                ; break;
                                            case "Flying":
                                                <li style=" border-radius: 3px; background-color: grey; font-size: 15px; color: white; height: 25px; width: 70px; text-align: center; margin-left: 5px;">@type1.Kind</li>
                                                ; break;
                                            case "Bug":
                                                <li style=" border-radius: 3px; background-color:forestgreen; font-size: 15px; color: white; height: 25px; width: 70px; text-align: center; margin-left: 5px;">@type1.Kind</li>
                                                ; break;
                                            case "Normal":
                                                <li style=" border-radius: 3px; background-color: white; font-size: 15px; color: black; height: 25px; width: 70px; text-align: center; margin-left: 5px;">@type1.Kind</li>
                                                ; break;
                                            case "Poison":
                                                <li style=" border-radius: 3px; background-color: purple; font-size: 15px; color: white; height: 25px; width: 70px; text-align: center; margin-left: 5px;">@type1.Kind</li>
                                                ; break;
                                            case "Electric":
                                                <li style=" border-radius: 3px; background-color: yellow; font-size: 15px; color: black; height: 25px; width: 70px; text-align: center; margin-left: 5px;">@type1.Kind</li>
                                                ; break;
                                            default: break;
                                        }
                                    }
                                </ul>
                            </div>

                            <div style="display: flex; align-items: center; justify-content: space-between;">
                                @if (card.Price > 0)
                                {
                                    <div class="last-bid" style="font-size: 15px;">@card.Price$</div> @*Price*@
                                }

                                <div class="last-bid" style="font-size: 15px;">@card.Rarity</div>@*rarity*@
                                @if (card.Market == true)
                                {
                                    <button type="button" class="btn btn-danger" style="padding:5px;" data-bs-toggle="modal" data-bs-target=#@card.Name>
                                        Cansel Sale
                                    </button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-success" style="padding: 5px; width:100px;" data-bs-toggle="modal" data-bs-target=#@card.Name>
                                        Sell
                                    </button>
                                }

                            </div>

                        </div>
                    </div>



                    <div class="rn-popup-modal report-modal-wrapper modal fade" id=@card.Name tabindex="-1" aria-hidden="true">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i data-feather="x"></i></button>
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content report-content-wrapper">
                                <div class="modal-header report-modal-header">
                                    <h5 class="modal-title">
                                        @card.Name
                                    </h5>
                                    <img src=@card.Image.Url alt="Alternate Text" />
                                </div>
                                <div class="modal-body">
                                    <p>Describe why you think this item should be removed from marketplace</p>
                                    <div class="report-form-box">
                                        <h6 class="title">Message</h6>
                                        <textarea name="message" placeholder="Write issues"></textarea>
                                        <div class="report-button">
                                            <button type="button" class="btn btn-primary mr--10 w-auto">Report</button>
                                            <button type="button" class="btn btn-primary-alta w-auto" data-bs-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                 }

                <!-- end single product -->
            </div>

            <!--<div class="tab-pane row g-5 d-flex fade" id="nav-liked" role="tabpanel" aria-labelledby="nav-contact-tab">
                <!-- start single product -->
            <!--<div class="col-5 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="product-style-one no-overlay with-placeBid">

                    <div class="card-thumbnail">
                        <a href="#">-->
            @*card details*@
            <!--<img src="~/Assets/Images/001.png" alt="NFT_portfolio">
                </a>
            </div>

            <div style="display: flex; align-items: center; padding-top: 20px; justify-content: space-between;">
                <h6>NameStroam</h6>-->
            @*pokemon name*@
            <!--<h6>Serial</h6>-->@*serial*@
            <!--</div>

            <div style="display: flex; align-items: center; justify-content: space-between;">
                <div class="last-bid" style="font-size: 15px;">Price</div>-->
            @*Price*@
            <!--<div class="last-bid" style="font-size: 15px;">Rarity</div>-->@*rarity*@

            @*<button type="button" class="btn btn-primary" style="" data-bs-toggle="modal" data-bs-target="#reportModal">
                                Sell
                            </button>
                        </div>

                    </div>
                </div>-->*@
            <!-- end single product -->
            <!--</div>-->

        </div>
    </div>
</div>

<!-- Modal -->
