@model IEnumerable<Pokemon.Models.Card>
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <style>



        li:nth-child(3n) + li {
            clear: both !important;
        }
    </style>

</head>

<body>









    <div class="rn-authore-profile-area">
        <div class="container">
            <div class="row mb--30 align-items-center">
                <div class="col-lg-4">
                    <div style="margin-left:110px;" class="section-title">
                        <h2 class="title mb--0">Pokedex</h2>
                    </div>
                </div>

            </div>
            <br />
            <br />
            <div class="">
                <div class="" style="  margin-left: 110px;">

                    <div class="" style=" text-shadow: 1px 1px black;  margin-top: -15px; margin-bottom: 30px; height: 60px;  background-color: forestgreen; width:370px; border-radius: 3px; padding: 5px;">
                        <h6>
                            Use Search to explore Pokemon by type<br /> Name or Id. <br />
                        </h6>
                    </div>


                    <div>

                        <input id="myInput" style="margin-right:0px;background-color:white; font-size:18px;" type="search" name="name" value="" placeholder="Search Pokemon" />


                    </div>



                </div>




            </div>
            <br />
            <br />
            <br />

            <div @*id="myDIV"*@ class="tab-content rn-bid-content" style="">
                <div style=" margin-left:7%; align-items:center" class="tab-pane row g-4 col-xl-10 d-flex fade show active">



                    @foreach (var card in Model)
                    {

                        <div class="col-3  keepo" style="width: 250px; height:330px; display: none;">
                            <div style="" class="title product-style-one no-overlay ">
                                <div style="" class="card-thumbnail">
                                    <a href=@Url.Action("CardDetails","CardDatabase",new { id=card.CardId})>
                                        @if (card.ImageID == null)
                                        {
                                            <i>?</i>
                                        }
                                        else
                                        {
                                            <img src=@card.Image.Url alt="NFT_portfolio">
                                        }

                                    </a>
                                </div>
                                <div style="display:flex; align-items: center; padding-top: 20px; height:12px; margin-bottom:0px; ">
                                    <h6 style="margin-bottom:5px; margin-right:10px;">#@card.pkdxNum</h6>
                                    <br />

                                    <h6 style="margin-bottom:5px;">@card.Name</h6>

                                </div>

                                <div>
                                    <ul class="list-group list-group-horizontal" style="list-style-type:none;">
                                        @foreach (var type1 in card.PokemonTypes)
                                        {
                                            switch (type1.Kind)
                                            {
                                           
                                                case "Ghost":
                                                    <li style="text-shadow: 1px 1px black; border-radius: 3px; background-color: rebeccapurple; font-size: 15px; color: black; height: 25px; width: 70px; text-align: center; margin-left: 5px;">@type1.Kind</li>
                                                    ; break;
                                                case "Fighting":
                                                    <li style="text-shadow: 1px 1px black; border-radius: 3px; background-color: sandybrown; font-size: 15px; color: black; height: 25px; width: 70px; text-align: center; margin-left: 5px;">@type1.Kind</li>
                                                    ; break;                                               
                                                case "Dragon":
                                                    <li style="text-shadow: 1px 1px black; border-radius: 3px; background-color: mediumpurple; font-size: 15px; color: black; height: 25px; width: 70px; text-align: center; margin-left: 5px;">@type1.Kind</li>
                                                    ; break;
                                                case "Rock":
                                                    <li style="text-shadow: 1px 1px black; border-radius: 3px; background-color: papayawhip; font-size: 15px; color: black; height: 25px; width: 70px; text-align: center; margin-left: 5px;">@type1.Kind</li>
                                                    ; break;
                                                case "Ice":
                                                    <li style="text-shadow: 1px 1px black; border-radius: 3px; background-color: lightblue; font-size: 15px; color: black; height: 25px; width: 70px; text-align: center; margin-left: 5px;">@type1.Kind</li>
                                                    ; break;
                                                case "Ground":
                                                    <li style="text-shadow: 1px 1px black; border-radius: 3px; background-color: saddlebrown; font-size: 15px; color: black; height: 25px; width: 70px; text-align: center; margin-left: 5px;">@type1.Kind</li>
                                                    ; break;
                                                case "Psychic":
                                                    <li style="text-shadow: 1px 1px black; border-radius: 3px; background-color: deeppink; font-size: 15px; color: black; height: 25px; width: 70px; text-align: center; margin-left: 5px;">@type1.Kind</li>
                                                    ; break;
                                                case "Normal":
                                                    <li style="text-shadow: 1px 1px white; border-radius: 3px; background-color: darkgray; font-size: 15px; color: black; height: 25px; width: 70px; text-align: center; margin-left: 5px;">@type1.Kind</li>
                                                    ; break;
                                                case "Grass":
                                                    <li style="text-shadow: 1px 1px black; border-radius: 3px; background-color: lawngreen; font-size: 15px; color: white; height: 25px; width: 70px; text-align: center; margin-left: 5px;">@type1.Kind</li>
                                                    ; break;
                                                case "Water":
                                                    <li style="text-shadow: 1px 1px black; border-radius: 3px; background-color: deepskyblue; font-size: 15px; color: white; height: 25px; width: 70px; text-align: center; margin-left: 5px;">@type1.Kind</li>
                                                    ; break;
                                                case "Fire":
                                                    <li style="text-shadow: 1px 1px black; border-radius: 3px; background-color: darkred; font-size: 15px; color: white; height: 25px; width: 70px; text-align: center; margin-left: 5px;">@type1.Kind</li>
                                                    ; break;
                                                case "Flying":
                                                    <li style="text-shadow: 1px 1px black; border-radius: 3px; background-color: dodgerblue; font-size: 15px; color: white; height: 25px; width: 70px; text-align: center; margin-left: 5px;">@type1.Kind</li>
                                                    ; break;
                                                case "Bug":
                                                    <li style=" text-shadow: 1px 1px black; border-radius: 3px; background-color: lightgreen; font-size: 15px; color: white; height: 25px; width: 70px; text-align: center; margin-left: 5px;">@type1.Kind</li>
                                                    ; break;

                                                case "Poison":
                                                    <li style="text-shadow: 1px 1px black; border-radius: 3px; background-color: purple; font-size: 15px; color: white; height: 25px; width: 70px; text-align: center; margin-left: 5px;">@type1.Kind</li>
                                                    ; break;
                                                case "Electric":
                                                    <li style="border-radius: 3px; background-color: yellow; font-size: 15px; color: black; height: 25px; width: 70px; text-align: center; margin-left: 5px;">@type1.Kind</li>
                                                    ; break;
                                                default: break;
                                            }
                                        }
                                    </ul>
                                </div>

                            </div>
                        </div>

                    }

                </div>


            </div>


            <div style="margin-top:50px; display:flex; justify-content:center">
                <div>
                    <a class="btn btn-success" href="#" id="loadMore">Load More</a>

                </div>
            </div>


        </div>

  

    </div>






    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>

        $(function () {
            $(".keepo").slice(0, 8).show(); // select the first ten
            $("#loadMore").click(function (e) { // click event for load more
                e.preventDefault();
                $(".keepo:hidden").slice(0, 8).show(); // select next 10 hidden divs and show them
                if ($(".keepo:hidden").length == 0) { // check if any hidden divs still exist
                    $("#loadMore").fadeOut();
                }
            });
        });

        //$(document).ready(function () {
        //    $("#myInput").on("keyup", function () {
        //        var value = $(this).val().toLowerCase();
        //        $("#myList li").filter(function () {
        //            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        //        });
        //    });
        //});


        //$(document).ready(function () {
        //    $("#myInput").on("keyup", function () {
        //        var value = $(this).val().toLowerCase();
        //        $("#myDIV *").filter(function () {
        //            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        //        });
        //    });
        //});

        $(document).ready(function () {
            $('#myInput').keyup(function () {

                // Search text
                var text = $(this).val().toLowerCase();

                // Hide all content class element
                $('.keepo').hide();

                //search
                $('.keepo .title').each(function () {

                    if ($(this).text().toLowerCase().indexOf("" + text + "") != -1) {
                        $(this).closest('.keepo').show();
                        // Search and show
                        /*$('.keepo:contains("' +text+ '")').show();*/
                    }
                });
            });

        });


    </script>



</body>

</html>
