@model IEnumerable<Pokemon.Models.Card>
@{

    ViewBag.Title = "Index";
}
@using Microsoft.AspNet.Identity



<style>











    th {
        cursor: pointer;
    }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: black;
        background-repeat: no-repeat;
        background-position: center;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
</style>





<!-- end page title area -->
<!-- Start product area -->
<div class="rn-product-area rn-section-gapTop">
    <div class="container">
        <div class="row mb--50 ">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <h3 class="title mb--0">Pokemon Marketplace</h3>

            </div>

        </div>




        <div>

            @if (Request.IsAuthenticated)
            {
                <div>
                    <div>
                        <button id="myBtn" class="btn btn-primary" style="margin-top:20px">List Your PokemonCard</button>
                    </div>
                </div>
            }
            else
            {
                <div>
                    <div style="margin-top:20px; height:40px; font-size:16px;" class="btn btn-primary">
                        <a>@Html.ActionLink("Log In to List Your Cards", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</a>
                    </div>
                </div>
            }

            <!-- The Modal -->
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close top-right">&times;</span>
                    <br />
                    <h2 style="color:white;">List Your Card in Marketplace</h2>

                    <div class="table table-responsive">
                        <table style="width:90%" class="table upcoming-projects">
                            <thead>
                                <tr>

                                    <th>
                                        <span>Pokemon</span>
                                    </th>
                                    <th>
                                        <span>Type</span>
                                    </th>
                                    <th>
                                        <span>Rarity</span>
                                    </th>
                                    <th>
                                        <span>Id</span>
                                    </th>

                                    <th>
                                        <span>Serial Number</span>
                                    </th>
                                </tr>
                            </thead>

                            <tbody id="myTable" class="ranking">


                                @foreach (var card in Model)
                                {

                                    if (card.Market == false && User.Identity.GetUserId() == card.ApplicationUserId)
                                    {
                                        <tr class="color-light">
                                            <td>
                                                <div class="product-wrapper d-flex align-items-center">
                                                    <a href=@Url.Action("CardDetails","CardDatabase",new { id=card.CardId}) class="thumbnail">

                                                        <img src=@card.Image.Url />
                                                    </a>
                                                    <span>@card.Name</span>
                                                </div>
                                            </td>
                                            <td>
                                                <ul class="list-unstyled">
                                                    @foreach (var type in card.PokemonTypes)
                                                    {
                                                        <li>
                                                            @type.Kind
                                                        </li>
                                                    }

                                                </ul>
                                            </td>
                                            <td><span>@card.Rarity</span></td>
                                            <td><span>@card.CardId</span></td>
                                            <td><span>@card.SerialNumber</span></td>


                                            @using (Html.BeginForm("Listcard", "Marketplace"))
                                            {
                                                <td>

                                                    <input id="listingprice" name="price" style="margin-top:10px;border-radius:5px; height:40px; width:300px;  border:solid; background-color: white; border-width: 1px;" type="number" placeholder="Enter The Price" value="1" min="1" />

                                                    <input type="hidden" name="CardId" value="@card.CardId" />

                                                    <input onclick="return confirm('Are you sure you want to Sell this card?')" type="submit" value="List Card" />

                                                </td>

                                            }
                                        </tr>

                                    }

                                }

                            </tbody>
                        </table>

                    </div>
                </div>

            </div>


            <div>

                <div style="display:inline-flex">
                    <div>
                        <input id="myInput" style="border-radius:5px; height:40px; width:300px; margin-top: 22px; border:solid; background-color: white; border-width: 1px;" class="" type="text" placeholder="Search card's Name,Type,Rarity,Owners name and Price " />
                    </div>
                </div>
            </div>

            <br />

            <div class="container">

              

                <div class="box-table table-responsive">
                    <table id="myTable1" class="table upcoming-projects">
                        <thead>
                            <tr>

                                <th onclick="sortTable(0)">
                                    <span>Pokemon</span>
                                </th>
                                <th onclick="sortTable(1)">
                                    <span>Type</span>
                                </th>
                                <th onclick="sortTable(2)">
                                    <span>Rarity</span>
                                </th>
                                <th onclick="sortTable(3)">
                                    <span>Owner's Name</span>
                                </th>
                                
                                <th onclick="sortTable(5)">
                                    <span>Serialnumber</span>
                                </th>
                                <th onclick="sortTable(6)">
                                    <span>Price</span>
                                </th>
                            </tr>
                        </thead>

                        <tbody id="myTable" class="ranking">


                            @foreach (var card in Model)
                            {

                                //if (card.Market == true)
                                //{
                                <tr class="color-light">
                                    <td>
                                        <div class="product-wrapper d-flex align-items-center">
                                            <a href=@Url.Action("CardDetails","CardDatabase",new { id=card.CardId}) class="thumbnail">
                                                @if (card.ImageID == null)
                                                {
                                                    <i>?</i>
                                                }
                                                else
                                                {
                                                    <img src=@card.Image.Url alt="NFT_portfolio">
                                                }
                                            </a>
                                            <span>@card.Name</span>
                                        </div>
                                    </td>
                                    <td>
                                        <ul class="list-unstyled">
                                            @foreach (var type in card.PokemonTypes)
                                            {
                                                <li>
                                                    @type.Kind
                                                </li>
                                            }

                                        </ul>
                                    </td>
                                    <td><span>@card.Rarity</span></td>
                                    <td><span>@(card.User?.UserName)</span></td>
                                    
                                    <td><span>@card.SerialNumber</span></td>
                                    <td><span>@card.Price</span></td>




                                    @if (Request.IsAuthenticated)
                                    {

                                        if (card.ApplicationUserId == User.Identity.GetUserId())
                                        {
                                            <td>
                                                <a onclick="return confirm('Are you sure you want to Cancel this List?')" style="text-decoration:none; width:150px;" href=@Url.Action("CancelList","Marketplace", new { CardId= card.CardId }) class="btn btn-danger">Cancel Sale</a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>

                                                <a style="text-decoration:none; width:150px;" href=@Url.Action("BuyCard","Marketplace", new { id = card.CardId, Price= card.Price})
                                                   onclick="return confirm('Are you sure you want to Buy this Card?')" class="btn btn-success">Buyout</a>
                                            </td>
                                        }

                                    }
                                    else
                                    {

                                        <td>
                                            <a class="btn btn-primary" style="width:160px; text-decoration:none;" href=@Url.Action("Login","Account")>Log In</a>
                                        </td>

                                    }

                                </tr>


                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>




<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>


    
   










    //SearchBar
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });



    //Sorting sta Thead
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("myTable1");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */



                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }


    //Box Modal SCRIPTS
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal


    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }



</script>
